$main-color: #0b2239;
$color-1: #37eb9a;
$color-2:#2b5b83;
$color-3: #f5ae10;
$color-4: #e91e63;
$color-5: #0e2a47;

$main-light: #ececec;

$black-900: #000;
$black-400: #555555;
$black-100: #f7f7f7;
$black-000: #ffffff;
$black-alpha-100: rgba(0,0,0,0.05);
$shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
$shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
$shadow-light-100: -0px 0px 5px 3px rgba(255, 255, 255, 0.9);
$shadow-light-300: -0px 0px 5px 3px rgba(255,255,255,0.7);